<div class="home-locations">
  <div class="home-locations-heading">Our Locations</div>

  <div class="home-locations-content">
    <div class="warehouse-card-display-grid">
      <app-warehouse-card
        *ngFor="let item of locationList"
        [location]="item"
        [id]="item.id"
        [numberOfClassicBoards]="classicboardsLength"
        [numberOfLongBoards]="longboardsLength"
        [numberOfOldschoolBoards]="oldschoolboardsLength"
        [numberOfWheels]="wheelsLength"
        [numberOfTrucks]="trucksLength"
      ></app-warehouse-card>
    </div>
  </div>
</div>
