/* IMPORTED STYLING */

/* CUSTOM STYLING */
body {
    background-color: black;
    color: white;
    margin: 0;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'Skate Fall';
    src: url('./assets/font/Skate\ Fall\ -\ TTF.ttf') format('truetype');
}

@font-face {
    font-family: 'Skate Fall Italic';
    src: url('./assets/font/Skate\ Fall\ Italic\ -\ TTF.ttf') format('truetype');
}

.font-ibm-plex-mono {
    font-family: "IBM Plex Mono", monospace;
    ;
}

.icon-24 {
    font-size: 24px;
}

.icon-22 {
    font-size: 22px;
}

.icon-20 {
    font-size: 20px;
}

.heading-ibm {
    font-family: "IBM Plex Mono", monospace;
    text-transform: uppercase;
    font-weight: 400;
}

.bare-input {
    background: none;
    border: none;
    outline: none;
    font-family: "IBM Plex Mono", monospace;
}

/* Tippy: Tooltip library customization */
.tippy-backdrop[data-theme~='dark360'] {
    background-color: rgb(21, 21, 21);
    color: rgb(249, 242, 242);
}