<div class="home-hero">

    <div class="home-hero-img-letterhead-wrap" data-tilt data-tilt-glare data-tilt-max-glare="1">
        <img class="home-hero-img-letterhead-blur" [src]="letterhead" alt="Skate Letterhead" />
        <div class="home-hero-img-letterhead-imagewrap">
            <img class="home-hero-img-letterhead" [src]="letterhead" alt="Skate Letterhead" />
        </div>
    </div>

    <div class="hero-skateboard-wrap" data-tilt-glare data-tilt-max-glare="1">
        <div class="hero-text-wrap">
            <div class="hero-text">Skate 360</div>
            <div class="hero-text-bg"></div>
        </div>
        <img #heroElement data-tilt-glare data-tilt-max-glare="1" class="hero-img-skateboard" [src]="skateboardImg"
            alt="Skateboard Image" />
    </div>

</div>

<div class="hero-down-icon-wrap">
    <i class="ri-arrow-down-wide-line hero-down-icon"></i>
    <div class="hero-down-icon-bg"></div>
</div>