atropos {
    overflow: hidden;
}

.home-hero {}

.home-hero-img-letterhead-wrap {
    width: 100%;
    height: 100vh;
}

.home-hero-img-letterhead-imagewrap {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.home-hero-img-letterhead {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.home-hero-img-letterhead-blur {
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: blur(0px);
    animation: pulse 4s infinite;
}

@keyframes pulse {

    0%,
    100% {
        filter: blur(0px);
    }

    50% {
        filter: blur(15px);
    }
}

.hero-skateboard-wrap {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    z-index: 1;
}

.hero-text-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.hero-text {
    font-family: 'Skate Fall';
    font-size: 60px;
    z-index: 1;
}

.hero-text-bg {
    position: absolute;
    border-radius: 100px;
    width: 300px;
    height: 100px;
    filter: blur(15px);
    background: #121212;
}

.hero-down-icon-wrap {
    position: absolute;
    bottom: 20px;
    z-index: 3;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: bounce 1s infinite;
}

.hero-down-icon {
    font-size: 40px;
}

.hero-down-icon-bg {
    height: 10px;
    width: 30px;
    border-radius: 20px;
    z-index: -1;
    background: #121212;
    position: absolute;
    filter: blur(12.5px);
}

@keyframes bounce {

    0%,
    100% {
        bottom: 10px;
    }

    50% {
        bottom: 25px;
    }
}