<!-- https://github.com/sytzez/atropos-angular/tree/master/projects/atropos-angular -->

<atropos>
    <div class="home-hero">
        <div slot="root">
            <div slot="scale">
                <div slot="rotate">

                    <atropos>
                        <div slot="root">
                            <div slot="scale">
                                <div slot="rotate">
                                    <div class="home-hero-img-letterhead-wrap" slot="scale">
                                        <img class="home-hero-img-letterhead-blur" [src]="letterhead"
                                            alt="Skate Letterhead" />
                                        <div class="home-hero-img-letterhead-imagewrap">
                                            <img class="home-hero-img-letterhead" [src]="letterhead"
                                                alt="Skate Letterhead" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </atropos>


                    <div class="hero-skateboard-wrap">
                        <div class="hero-text-wrap">
                            <div class="hero-text">Skate 360</div>
                            <div class="hero-text-bg"></div>
                        </div>
                        <img class="hero-img-skateboard" [src]="skateboardImg" alt="Skateboard Image" />
                    </div>



                </div>
            </div>
        </div>
    </div>

</atropos>
<div class="hero-down-icon-wrap">
    <i class="ri-arrow-down-wide-line hero-down-icon"></i>
    <div class="hero-down-icon-bg"></div>
</div>