<div class="inventory-card-main-container">
    <div class="inventory-card-container">
        <div class="product-card-content-options-wrap">
            <app-card-options class="product-card-content-options"></app-card-options>
        </div>
        <div class="product-card-content-img-wrap-02">
            <img src="../../../../assets/img/decks/classic.png" alt="">
        </div>
    </div>
    <div class="inventory-card-text-conatainer">
        <h3>{{name}}</h3>
        <p>{{price}}</p>
    </div>
</div>