.craft-skateboard {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}

.craft-skateboard-top-half {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%s;
}

.craft-skateboard-title {
    font-family: "League Gothic";
    font-size: 48px;
    text-transform: uppercase;
    /* height: 38.427px; */
}

.craft-skateboard-cost-summary {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.craft-skateboard-cost-summary-title {
    font-family: "IBM Plex Mono";
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    opacity: 0.75;
}

.craft-skateboard-cost-summary-table {
    font-family: "IBM Plex Mono";
    border-collapse: collapse;
    width: 100%;
    max-height: 150px;
    overflow-y: scroll;
}

.craft-skateboard-cost-summary-table-header {
    /* padding-top: 12px; */
    padding-bottom: 10px;
    text-align: left;
    /* background-color: #04AA6D; */
    color: white;
    text-transform: uppercase;
}

.craft-skateboard-cost-summary-table-content {
    /* border: 1px solid #ddd; */
    padding: 8px;
}

.craft-skateboard-btm-half {
    padding: 20px;
    gap: 20px;
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
}

.craft-skateboard-total {
    display: flex;
    flex-direction: column;
}

.craft-skateboard-total-qty {
    padding: 10px 0;
    border-top: 1px solid #1F2323;
    border-bottom: 1px solid #1F2323;
    display: flex;
    justify-content: space-between;
}

.craft-skateboard-total-qty-title {
    font-family: 'IBM Plex Mono';
    text-transform: uppercase;
}

.craft-skateboard-total-qty-input {
    background: none;
    border: 1px solid #2d3131;
    outline: none;
    border-radius: none;
    color: white;
    padding: 2px;
    width: 30px;
    text-align: end;
}

.craft-skateboard-total-qty-input:focus {
    border: 1px solid #fcfcfc;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    /* Firefox */
}

.craft-skateboard-total-price {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #1F2323;
    font-family: "IBM Plex Mono";
}

.craft-skateboard-total-price-title {
    text-transform: uppercase;
}

.craft-skateboard-total-price-amount {}