<div class="craft-skateboard">
    <app-craft-success [isVisible]="isSuccessPopupVisible"></app-craft-success>
    <div class="craft-skateboard-top-half">
        <div class="craft-skateboard-title">
            Craft Skateboard
        </div>
        <div class="craft-skateboard-cost-summary">
            <div class="craft-skateboard-cost-summary-title">
                Cost Summary
            </div>
            <table class="craft-skateboard-cost-summary-table">
                <tr class="craft-skateboard-cost-summary-table-headerwrap">
                    <th class="craft-skateboard-cost-summary-table-header">Item</th>
                    <th class="craft-skateboard-cost-summary-table-header">Qty</th>
                    <!-- <th class="craft-skateboard-cost-summary-table-header">Price</th> -->
                </tr>
                <tr *ngFor="let item of selectedItems" class="craft-skateboard-cost-summary-table-content">
                    <td class="craft-skateboard-cost-summary-table-content-data">{{item.name}}</td>
                    <td class="craft-skateboard-cost-summary-table-content-data">{{item.quantity}}</td>
                    <!-- <td class="craft-skateboard-cost-summary-table-content-data">{{item.price|currency:'R'}}</td> -->
                </tr>
            </table>
        </div>
    </div>

    <div class="craft-skateboard-btm-half">
        <div class="craft-skateboard-total">
            <div class="craft-skateboard-total-qty">
                <div class="craft-skateboard-total-qty-title">
                    Quantity
                </div>
                <input (input)="setQty($event)" class="craft-skateboard-total-qty-input" type="number" value="1" />
            </div>
            <div class="craft-skateboard-total-price">
                <div class="craft-skateboard-total-price-title">
                    Total
                </div>
                <div class="craft-skateboard-total-price-amount">
                    {{price|currency:'R '}}
                </div>
            </div>
        </div>
        <app-button (click)="createSkateboard()" accent="red" variant="fill" width="calc(100% - 30px)">Craft
            Skateboard</app-button>
    </div>

</div>