<!-- <p>wharehouse works!</p> -->

<div class="warehouse-main-container">
    <!-- side navbar left side -->
    <div class="warehouse-sidebar-container">
        <app-sidebar></app-sidebar>
    </div>

    <!-- right side -->
    <div>
        <!-- search bar container  -->
        <div>
            <app-search-bar></app-search-bar>
        </div>

        <!-- warehouse text container-->
        <div class="warehouse-text-heading-container">
            <div>
                <h1>Warehouse Page</h1>
                <img src="" alt="">
            </div>
            <p>A page view of all our current warehouses stocking inventory</p>
        </div>

        <!-- warehouse card container -->
        <div class="warehouse-card-container">

        </div>
    </div>
</div>