<a class="craft-floating-button-top" href="">
    <app-button onclick="">
        <i class="ri-home-line"></i>
    </app-button>
</a>

<div class="grid">
    <app-editor class="item"></app-editor>

    <app-craft-skateboard class="item"></app-craft-skateboard>

    <app-tool-option class="item"></app-tool-option>

    <app-configure-tool-option class="item"></app-configure-tool-option>


    <div class="item-conten">
        <div class="item">
            <div class="item-content">
                <!-- Safe zone, enter your custom markup -->
                This can be anything.
                <!-- Safe zone ends -->
            </div>

        </div>

        <div class="item">
            <div class="item-content">
                <!-- Safe zone, enter your custom markup -->
                <div class="my-custom-content">Yippee!</div>
                <!-- Safe zone ends -->
            </div>
        </div>
    </div>