.craft-floating-button-top {
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 20px;
  margin-left: 20px;
  z-index: 99;
  border: 1px solid #2e3232 !important;
}

.drag-container {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
}

.dashboard {
  position: relative;
  display: grid;
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: calc(100vh - 40px) !important;
}

.dashboard_row {
  display: flex !important;
  width: 100%;
  flex-direction: row;
  gap: 5px;
  transform: none !important;
}

.dashboard_first_row {
  height: 70%;
}

.dashboard_second_row {
  height: 30%;
}

.first-column {
  width: 75%;
}

.second-column {
  width: 25%;
}

.third-column {
  width: 50%;
}

.fourth-column {
  width: 50%;
}

.window {
  display: block;
  transform: none !important;
  border: 1px solid #2e3232;
}

.window.muuri-item-releasing {
  z-index: 2;
}

.window.muuri-item-dragging {
  z-index: 3;
  cursor: move;
}
