<a class="craft-floating-button-top" href="">
    <app-button>
        <i class="ri-home-5-line"></i>
    </app-button>
</a>

<div class="drag-container"></div>

<div class="dashboard">
    <div class="dashboard_row dashboard_first_row">
        <app-editor class="window first-column"></app-editor>
        <app-craft-skateboard class="window second-column"></app-craft-skateboard>
    </div>
    <div class="dashboard_row dashboard_second_row">
        <app-tool-option class="window third-column"></app-tool-option>
        <app-configure-tool-option class="window fourth-column"></app-configure-tool-option>
    </div>
</div>