.configure-tool-option {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* background: #fff; */
}

.configure-tool-option-title {
    font-family: 'League Gothic';
    font-size: 24px;
    padding: 20px;
    border-bottom: 1px solid #2E3232;
    text-transform: uppercase;
}

.configure-tool-option-content {
    width: calc(100% - 50px);
    height: 100%;
    padding: 20px;
}

.configure-tool-option-slider-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}

.configure-tool-option-slider-sliderticks-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.configure-tool-option-slider-slidertick {
    font-family: 'IBM Plex Mono';
    opacity: 0.2;
    user-select: none;
}

.slider-stick-active {
    opacity: 1;
    font-weight: 600;
}

input[type="range"]::-webkit-slider-runnable-track {
    /* background: linear-gradient(to right, red 5px, green 5px); */
    height: 0.2rem;
    cursor: pointer;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -5px;
    background: #ea1212;
    cursor: grab;
    border-radius: 10px;
}

.slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -5px;
    background: #ea1212;
    cursor: grab;
}

.configure-tool-option-measurement {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 20px;
    margin-bottom: 10px;
    font-family: 'Neue Haas Grotesk Display Pro';
}