.dashboard-window-content-wrapper {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.dashboard-editor-3dArea {
    height: 100%;
}

.dashboard-window-content {
    min-height: 1;
    height: 100%;
}

.dashboard-window-content-item {
    position: absolute;
    width: calc(100% - 16px);
    margin: 8px;
    height: 100%;
}

.dashboard-window-content-item-content {

    position: relative;
    padding: 20px;
}