<div class="dashboard-window-content-wrapper">

    <div class="dashboard-editor-3dArea">
        <div class="dashboard-window-content" cdkDropList (cdkDropListDropped)="drop($event)"
            style="opacity: 1; pointer-events: none;background: rgba(255, 0, 0, 0.084);position: relative;z-index: 99;">
            @for (item of updatedData; track item) {
            <div class="example-box dashboard-window-content-item" cdkDrag>
                <app-tool-option-card [option]="item" class="dashboard-window-content-item-content">
                </app-tool-option-card>
            </div>
            }
        </div>
        <div style="width: 600px; height: 513px; position: absolute;top: 0;">
            <app-three-object></app-three-object>
        </div>
    </div>

    <div class="dashboard-editor-expand">
        <i class="ri-fullscreen-line"></i>
    </div>
    <div class="dashboard-editor-bottomleft-details">
        <div class="dashboard-editor-bottomleft-item dashboard-editor-bottomleft-user">
            <div class="dashboard-editor-bottomleft-usericon">
                <i class="ri-user-3-line"></i>
            </div>
            <div class="dashboard-editor-bottomleft-username">
                {{loggedInUser?.name}}
            </div>
        </div>
        <div class="dashboard-editor-bottomleft-item dashboard-editor-bottomleft-location">
            <div class="dashboard-editor-bottomleft-locationicon">
                <i class="ri-building-2-line"></i>
            </div>
            <div class="dashboard-editor-bottomleft-locationsite">
                {{loggedInUser?.location?.name}}
            </div>
        </div>
    </div>
    <app-selected-item></app-selected-item>
</div>