<div>
    <img class="texture-grunge" src="../assets/img/texture/texture_grunge.jpg" />
    <img class="texture-led" src="../assets/img/texture/texture_pixel_bw.png" />
    <img class="texture-noise" src="../assets/img/texture/texture_noise.jpg" />
    <app-navbar></app-navbar>
    <main class="main">
    </main>

    <div class="background-video-wrap" onshow="document.querySelector('.background-video').play()">
        <div class="background-video-blur"></div>
        <video class="background-video" autoplay muted loop allow="autoplay">
            <source class="background-video" src="../assets/video/grunge_textures.mp4" type="video/mp4">
        </video>
    </div>

    <!-- <button onclick="document.querySelector('.background-video').play()">Play Video</button> -->

</div>

<router-outlet />