<!-- this is the Ware house card that will be shown on the warehouse page and home page -->

<div class="warehouseCard-main-con">
    <!-- hero section -->
    <div class="warehouseCard-hero">
        <div class="warehouse-hero-title">
            <h1>{{location.name}}</h1>
        </div>

        <!-- the about button -->
        <button class="warehouse-about-btn">
            <p>About</p>
            <!-- icon here -->
            <i class="ri-arrow-right-line"></i>
        </button>

        <!-- the number of people working at the warehouse -->
    </div>
    <!-- hero section end -->
    <div class="warehouse-card-worker-data">
        <!-- icon here -->
        <i class="ri-user-line"></i>
        <!-- import the number data here -->
        <p>#</p>
    </div>

    <!-- data section start -->
    <div class="warehouse-card-data-section">
        <h1>CURRENT STOCK</h1>
        <div class="warehouse-card-data-display-con">
            <!-- boards data start -->
            <div class="warehouse-data-boards">
                <!-- boards in totel -->
                <div class="warehouse-data-row-primary">
                    <p>boards</p>
                    <p>#{{location.skateboards.length}}</p>
                </div>
                <!-- classic -->
                <div class="warehouse-data-row">
                    <p>classic</p>
                    <p>#{{numberOfClassicBoards}}</p> 
                    <!-- above we are calling from the ts file -->
                </div>
                <!-- old school -->
                <div class="warehouse-data-row">
                    <p>Old school</p>
                    <p>#{{numberOfOldschoolBoards}}</p>
                </div>
                <!-- long boards -->
                <div class="warehouse-data-row">
                    <p>long boards</p>
                    <p>#{{numberOfLongBoards}}</p>
                </div>
            </div>
            <!-- boards data end -->

            <!-- WHEELS DATA START -->
            <div class="warehouse-data-wheels-con">
                <div class="warehouse-data-row-primary">
                    <p>wheels</p>
                    <p>#</p>
                </div>
                <div class="warehouse-data-row">
                    <p>large</p>
                    <p>#</p>
                </div>
                <div class="warehouse-data-row">
                    <p>small</p>
                    <p>#</p>
                </div>
            </div>
            <!-- WHEELS DATA END -->

            <!-- TRUCKS DATA START -->
            <div class="warehouse-data-wheels-con">
                <div class="warehouse-data-row-primary">
                    <p>trucks</p>
                    <p>#</p>
                </div>
                <div class="warehouse-data-row">
                    <p>normal</p>
                    <p>#</p>
                </div>
                <!-- TRUCKS DATA END -->
            </div>
        </div>
        <!-- data section END -->
        <!-- BUTTON HERE -->
        <div class="warehouse-btn-con">
            <!-- ADD NEW ITEM BTN -->
            <button id="warehouse-addItem-btn" (click)="openStockForm()">
                <p>ADD NEW ITEMS</p>
                <i class="ri-add-line"></i>
            </button>

            <!-- todo this button needs to link to its corresponding inventory -->
            <button id="warehouse-view-btn">
                <p>VIEW</p>
                <i class="ri-arrow-right-s-line"></i>
            </button>
        </div>
    </div>
    <!-- card main con end -->