<div class="home-newsletter-emailinput">
    <div class="home-newsletter-emailinput-wrap">
        <!-- Idea: Perhaps when you submit your email, it sends changes the icon to open. Alongside a toaster of success. -->
        <i class="ri-mail-line home-newsletter-emailinput-icon"></i>
        <input class="bare-input home-newsletter-emailinput-input" type="text" placeholder="Your Email" />
    </div>
    <div class="home-newsletter-emailinput-arrow-wrap">
        <i class="ri-arrow-right-line home-newsletter-emailinput-arrow-icon"></i>
    </div>
</div>