<app-sidebar></app-sidebar>

<div class="account-main-con">

    <!-- TOP ROW START  -->
    <div class="account-top-row">
        <div class="account-title-div">
            <h1>account</h1>
        </div>

        <button id="accountPage-signout-btn">
            <p class="accountPage-signout-btn-p">Sign Out</p>
        </button>
    </div>
    <!-- TOP ROW END  -->

    <!-- divider -->
    <div class="account-divider-line"></div>

    <!-- PROFILE INFO DISPLAY SECTION START -->
    <div class="account-userInfoDisplay-section">

        <!-- user profile image -->
        <div class="account-userProfileImg-con">
            <!-- testing -->
            <input type="file" placeholder="Upload Image">
        </div>

        <div class="account-right-side-userInfo-con">

            <!-- user information  -->
            <div class="account-userInfo-con">
                <!-- todo need the fonts for the h3 tags -->
                <!-- uesrname field -->
                <div class="account-infoField-con">
                    <p class="account-userInfo-lable">username</p>
                    <div></div>
                    <h3>{{loggedInUser?.name}}</h3>
                </div>
                <!-- email field -->
                <div class="account-infoField-con">
                    <p class="account-userInfo-lable">email</p>
                    <h3>{{loggedInUser?.email}}</h3>
                </div>
                <!-- base field -->
                <div class="account-infoField-con">
                    <p class="account-userInfo-lable">base</p>
                    <h3>{{loggedInUser?.location?.name}}</h3>
                </div>
            </div>

            <!-- edit button -->
            <div class="account-userEdit-btn-con">
                <button id="account-userInfoEdit-btn">Edit</button>
            </div>

        </div>

    </div>
    <!-- PROFILE INFO DISPLAY SECTION END -->

    <!-- divider -->
    <div class="account-divider-line"></div>

    <!-- SKATE BOARDS CREATED SECTION START -->
    <h1 class="account-boardCreated-title">skateboards created</h1>
    <!-- we want the skateboards specific to the user -->
    <div>
        <app-account-collection></app-account-collection>
    </div>
    <!-- SKATE BOARDS CREATED SECTION END -->

</div>