<div class="dashboard-window-content-wrapper">
    <div class="configure-tool-option-title">
        Choose {{componentType}}
    </div>
    <div class="dashboard-window-content">
        <div class="dashboard-window-content-item">
            <app-tool-option-card class="dashboard-window-content-item-content">
            </app-tool-option-card>
            <!-- <div class="dashboard-window-content-item-content">
                Tool Option 1L {{optionItem.type}}
                *ngFor="let optionItem of selectedList" [style.margin-top]=""
            </div> -->
        </div>
        <div class="dashboard-window-content-item">
            <app-tool-option-card class="dashboard-window-content-item-content">
            </app-tool-option-card>
            <!-- <div class="dashboard-window-content-item-content">
                Tool Option 1L {{optionItem.type}}
                *ngFor="let optionItem of selectedList" [style.margin-top]=""
            </div> -->
        </div>
    </div>
</div>