.dashboard-window-content-wrapper {
    position: relative;
    /* padding: 8px; */
    /* background: #f0f0f0; */
    /* height: calc(100vh - 90px); */
    width: 100%;
    height: 100%;
    border-radius: 0 0 5px 5px;
    /* color: black; */
    overflow: hidden;
}

.configure-tool-option-title {
    font-family: 'League Gothic';
    font-size: 24px;
    padding: 20px;
    border-bottom: 1px solid #2E3232;
    text-transform: uppercase;
}

.dashboard-window-content {
    position: relative;
    overflow-y: scroll;
    height: 64% !important;
    /* min-height: 100%; */
}

.dashboard-window-content-item {
    position: absolute;
    width: calc(100% - 16px);
    margin: 8px;
}

.dashboard-window-content-item-content {
    position: relative;
    padding: 20px;
    background: #282828;
    border-radius: 4px;
    font-size: 17px;
    cursor: pointer;
    -webkit-box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.dashboard-window-content-item-content.muuri-item-releasing {
    z-index: 9998;
}

.dashboard-window-content-item-content.muuri-item-dragging {
    z-index: 9999;
    cursor: move;
}

.dashboard-window-content-item-content.muuri-item-hidden {
    z-index: 0;
}