<div class="dashboard-window-content-wrapper">
    <div class="configure-tool-option-title">
        Choose {{componentType}}
    </div>
    <div class="dashboard-window-content">
        <div cdkDropList [cdkDropListData]="selectedList.inventory" class="example-list"
            (cdkDropListDropped)="drop($event)">
            @for (item of selectedList.inventory; track item) {
            <div class="example-box dashboard-window-content-item" cdkDrag (cdkDragEnded)="onDragEnded($event,item)">
                <app-tool-option-card [option]="item" class="dashboard-window-content-item-content">
                </app-tool-option-card>
            </div>
            }
        </div>
    </div>
</div>