<div class="dashboard-window-content-wrapper">
    <div class="configure-tool-option-title">
        Choose {{componentType}}
    </div>
    <div class="dashboard-window-content">
        <div class="dashboard-window-content-item">
            <div class="dashboard-window-content-item-content">
                Tool Option 1
            </div>
        </div>
        <div class="dashboard-window-content-item">
            <div class="dashboard-window-content-item-content">
                Tool Option 2
            </div>
        </div>
        <div class="dashboard-window-content-item">
            <div class="dashboard-window-content-item-content">
                Tool Option 3
            </div>
        </div>
    </div>
</div>