<div class="skateboards">

    <app-sidebar></app-sidebar>

    <div class="skateboards-content">
        <!-- Header Section: Top Title and Actions -->
        <div class="skateboards-header">

            <!-- Header Section: Top Title and Actions -->
            <div class="skateboards-header-top">
                <div class="skateboards-header-top-title-wrap">
                    <div class="skateboards-header-top-title">Skateboards</div>
                    <div class="skateboards-header-top-title-info">
                        A page view of all our current Skateboards stocking inventory
                    </div>
                </div>
                <div class="skateboards-header-top-actions">
                    <a href="craft"><app-button accent="red" type="round">Add New</app-button></a>
                    <a href="craft"><app-button type="round" custom="border: none;">Edit</app-button></a>
                </div>
            </div>

            <!-- Header Section: Bottom Filter  -->
            <div class="skateboards-header-btm">Bottom</div>

        </div>

        <!-- Skateboard Items section -->
        <div class="skateboards-items">Items</div>

        <!-- Pagination Items section -->
        <div class="skateboards-paginate">Paginate</div>
    </div>
</div>