<div class="dashboard-editor-selected-item">
    <div class="dashboard-editor-selected-item-head">
        <div class="dashboard-editor-selected-item-head-title"> Selected Item</div>
        <div class="dashboard-editor-selected-item-head-actions">
            <div class="dashboard-editor-selected-item-head-button">
                <i class="ri-close-line"></i>
            </div>
            <div class="dashboard-editor-selected-item-head-button">
                <i class="ri-arrow-down-wide-line"></i>
            </div>
        </div>
    </div>
    <div class="dashboard-editor-selected-item-content">
        <img src="" alt="Selected Part" class="dashboard-editor-selected-item-content-img" />
    </div>
    <div class="dashboard-editor-selected-item-details">
        <div class="selected-item-detail dashboard-editor-selected-item-details-itemname">
            Item Name
        </div>
        <div class="selected-item-detail dashboard-editor-selected-item-details-parent">
            Wheels
        </div>
        <div class="selected-item-detail dashboard-editor-selected-item-details-position">
            Left Back
        </div>
        <div class="selected-item-detail dashboard-editor-selected-item-details-indexes">
            0,0,0
        </div>
    </div>
</div>