.dashboard-editor-selected-item {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    border-top: 1px solid #2E3232;
    border-left: 1px solid #2E3232;
    background: #101414ea;
    box-shadow: 0px 0px 30.7px 0px rgba(159, 159, 159, 0.10);
    backdrop-filter: blur(15px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dashboard-editor-selected-item-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.dashboard-editor-selected-item-head-title {
    font-family: "League Gothic";
    font-size: 24px;
    text-transform: uppercase;
    user-select: none;
}

.dashboard-editor-selected-item-head-actions {
    display: flex;
}

.dashboard-editor-selected-item-head-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border: 1px solid #2E3232;
    cursor: pointer;
}

.dashboard-editor-selected-item-content {
    /* width: 100%; */
    height: 100%;
    aspect-ratio: 1/1;
    border: 1px solid #2E3232;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.dashboard-editor-selected-item-content-img {
    height: 100%;
    aspect-ratio: 1/1;
    border: 1px solid #2E3232;
    object-fit: cover;
}

.dashboard-editor-selected-item-details {
    display: flex;
    flex-direction: column;
    gap: 2.5px;
}

.selected-item-detail {
    font-family: "IBM Plex Mono";
    font-size: 10px;
    text-transform: uppercase;
    user-select: none;
}

.dashboard-editor-selected-item-details-itemname {
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 10px;

}