<div class="sideNavbar-mian-con">

    <!-- Top Links Wrap -->
    <div class="side-navbar-top-navs">

        <!-- home button -->
        <div class="sidenav-home-btn">
            <a href="''" routerLink="" routerLinkActive="active" areaCurrentActive="page">
                <button class="">
                    <i class="ri-home-5-line"></i>
                </button>
            </a>
        </div>

        <!-- nav sublinks links -->
        <div class="sidenav-page-links">
            <ul>
                <!-- search page link -->
                <li *ngFor="let navItem of navItems" [ngClass]="{'activePage':currentPage===navItem.link}">
                    <a [href]="navItem.link" [routerLink]="" routerLinkActive="active" areaCurrentActive="page">
                        <button [ngClass]="{'activePage':currentPage===navItem.link}">
                            <i [class]="navItem.icon"></i>
                        </button>
                    </a>
                </li>
                <!-- craft page link -->

            </ul>
        </div>
    </div>

    <div class="sidenav-account-btn" [ngClass]="{'activePage':currentPage==='account'}">
        <a href="account" routerLinkActive="active" areaCurrentActive="page">
            <button [ngClass]="{'activePage':currentPage==='account'}">
                <i class="ri-user-3-line"></i>
            </button>
        </a>
    </div>

</div>