.sideNavbar-mian-con {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    left: 0;
    top: 0;
    width: fit-content;
    height: 100vh;
    overflow: hidden;
    border-right: 1px solid #2D2F2F;
    background: #0c0d0dee;
    backdrop-filter: blur(15px);
}

.side-navbar-top-navs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sideNavbar-mian-con ul {}

.sidenav-home-btn {
    border-bottom: 1px solid #2D2F2F !important;
}

.sidenav-home-btn,
button {
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 24px;
    color: aliceblue;
}

.sidenav-page-links ul {
    list-style: none;
    margin: 0;
    padding: 0px;
    border-bottom: 1px solid #2D2F2F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.sidenav-page-links button {
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 24px;
    color: aliceblue;
    cursor: pointer;
}

.sidenav-page-links button:hover {}

.sideNavbar-mian-con a {
    margin-left: 0;
}

.sidenav-account-btn {
    border-top: 1px solid #2D2F2F;
    cursor: pointer;
}

.activePage {
    background: #fff;
    color: #0C0D0D !important;
    border-radius: 0.1rem;
}