<div class="hero-newsletter">
    <div class="hero-heading">
        <span class="hero-heading-text1 text-outline">Sign Up</span>
        <div class="hero-heading-text2 text-regular">to Receive</div>
        <div class="hero-heading-text3 text-bold-filled">Discounts</div>
        <span class="hero-heading-text4 text-outline">&</span>
        <div class="hero-heading-text5 text-bold-filled">Offers</div>
    </div>
    <div class="hero-body">
        <app-email-input></app-email-input>
        <img class="hero-body-img" [src]="skateImg" alt="Skateboarding Image with No Bg" />
    </div>
</div>