.home-newsletter {
    padding: 0 40px;
    padding-top: 60px !important;
    overflow: hidden;
}

.home-newsletter-heading {
    font-family: 'Neue Haas Grotesk Display Pro';
    /* color: red; */
    text-transform: uppercase;
    font-size: 58px;
    display: flex;
    gap: 5px;
    width: 100%;
    overflow: hidden;
}

.text-outline {
    color: transparent;
    -webkit-text-stroke: 1.5px #FC1E1E;
    text-stroke: 1.5px #FC1E1E;
    background-clip: text;
    -webkit-background-clip: text;
    font-weight: 900;
}

.text-regular {
    color: #FC1E1E;
}

.text-bold-filled {
    color: #fff1f1;
    font-weight: 900;
}

.home-newsletter-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
    margin-top: -40px;
}

.home-newsletter-body-img {
    height: 375px;
    mix-blend-mode: screen;
}