<div class="home-newsletter">
    <div class="home-newsletter-heading">
        <span class="home-heading-text1 text-outline">Sign Up</span>
        <div class="home-heading-text2 text-outline">to Receive</div>
        <div class="home-heading-text3 text-bold-filled">Discounts</div>
        <span class="home-heading-text4 text-outline">&</span>
        <div class="home-heading-text5 text-bold-filled">Offers</div>
    </div>
    <div class="home-newsletter-body">
        <app-email-input style="width: 100%;"></app-email-input>
        <img class="home-newsletter-body-img" [src]="skateImg" alt="Skateboarding Image with No Bg" />
    </div>
</div>