<div class="product-card" id="product-card">
    <div class="product-card-content-wrap">
        <app-card-options></app-card-options>
        <!--Where we wil render the 3D object: -->
        <!-- <div id="product-canvas"></div> -->
        <div class="product-placeholder"></div>
    </div>
    <div class="product-card-details-wrap">
        <div class="product-card-details-type">
            {{type}} Board
        </div>
        <div class="product-card-details-craftedBy">
            {{craftedBy.name}} Edition
        </div>
        <div class="product-card-details-price">
            {{price | currency:'R '}} <!-- | currencyPipe -->
        </div>
    </div>
</div>