<div class="onboarding">
    <div class="onboarding-left" (click)="backPage()">
        <div class="onboarding-left-icon">
            <i class="ri-home-5-line"></i>
        </div>
        <div class="onboarding-left-img-wrap">
            <div class="onboarding-left-text">
                Skate 360
            </div>
            <img class="onboarding-left-img" [src]="bgImg" />
        </div>
    </div>
    <div class="onboarding-form">
        <div class="onboarding-form-wrap">
            <div class="onboarding-form-top">
                <div class="onboarding-form-top-head">
                    Login
                </div>
                <div class="onboarding-form-top-description">
                    Login to gain access.
                </div>
            </div>
            <div class="onboarding-form-mid">
                <div class="onboarding-form-mid-input-wrap">
                    <input placeholder="Enter your email" type="email" class="onboarding-form-mid-input" />
                    <input placeholder="Enter your password" type="password" class="onboarding-form-mid-input" />
                </div>
                <div class="onboarding-form-mid-submit-wrap">
                    <app-button (click)="displayQuiz()" [style]="userResult==='null'?'display: flex':'display: none'"
                        width="calc(100% - 30px)" accent="red" variant="outline">
                        Verify You're Human
                    </app-button>
                    <div class="onboarding-form-mid-verify-success"
                        [style]="userResult==='true'?'display: flex':'display: none'">
                        Verification successful.
                    </div>
                    <div class="onboarding-form-mid-verify-fail"
                        [style]="userResult==='false'?'display: flex':'display: none'">
                        <div>Verification failed,</div>
                        <div class="underline" (click)="displayQuiz()">Try again.</div>
                    </div>
                    <app-button [style]="userResult==='true'?'opacity: 1':'opacity: 0.5'" width="calc(100% - 30px)"
                        custom="background: #F92122; color: #090909; border: none;">
                        Submit
                    </app-button>
                </div>
            </div>
            <div class="onboarding-form-btm">
                <div class="onboarding-form-btm-forget">
                    Forgot Password?
                </div>
            </div>
        </div>
    </div>
</div>
<app-quiz></app-quiz>