<div class="home-ourcollection">
    <div>
        <div class="home-ourcollection-top-wrap">
            <div class="home-ourcollection-top-heading">Our Collection</div>
            <app-button>
                <div>Our Collection</div>
                <i class="ri-arrow-right-line"></i>
            </app-button>
        </div>
        <div class="home-ourcollection-grid grid">
            <app-product-card class="grid-item" *ngFor="let skateboard of skateboardCollection">
            </app-product-card>
        </div>
    </div>
</div>