<div class="home-ourcollection">
  <div class="home-ourcollection-top-wrap">
    <div class="home-ourcollection-top-heading">
      <div class="home-ourcollection-top-heading-text">Our 2024 Collection</div>
      <div class="home-ourcollection-top-heading-shadow"></div>
    </div>
    <app-button accent="red" [gap]="20">
      <div>View All</div>
      <i class="ri-arrow-right-line"></i>
    </app-button>
  </div>
  <div class="home-ourcollection-grid">
    <app-gridlayout [gap]="20">
      <div
        class="grid-item"
        *ngFor="let skateboardItem of skateboardCollection"
      >
        <app-product-card
          [type]="skateboardItem?.configuration?.board_type?.name"
          [craftedBy]="skateboardItem?.craftedBy"
          [avatar]="skateboardItem?.configuration?.board_type?.avatar"
          [location]="skateboardItem?.location"
          [price]="skateboardItem?.price"
          [id]="skateboardItem?.id"
        >
        </app-product-card>
      </div>
    </app-gridlayout>
  </div>
</div>
